/* custome css  */
.top-advertise-section{
	background: #eaeae7;
	width:100%;
	margin-top: 10px;
	height : 100px; /* temporary */
}

/* media query for device md  */
@media only screen and (min-width: 768px) {
     .navbar{
        padding-top: 2%;
        margin-bottom: 2%;
    }

    .nav-fade-border > li > a {
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 0px;
        transition: color 0.25s ease;
        font-weight: bold;
    }
    .nav-fade-border > li > a::after {
        content: "";
        width: 0;
        height: 1px;
        display: block;
        background: #f1d37d none repeat scroll 0 0;
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        margin-top: 2px;
    }

    .nav-fade-border > li.active > a::after {
        width: 100%;
    }
    .nav-fade-border > li > a:hover::after {
        width: 100%;
    }

    .nav-fade-border > li > a.active::after {
        width: 100%;
    }

    .navbar-expand-sm .navbar-nav .nav-link{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding-right: 1.5rem;
    } 
    .lg-less-padding{
        padding-right: 5px;
        padding-left: 5px;
    }
    .sps--abv .nav-fade-border > li > a{
        color: #000 !important;
    }
    .sps--abv .navbar-brand{
        color: #000;
        font-weight: bold;
    }
    .sps--abv .navbar-brand:hover{
        color: #000;
        font-weight: bold;
    }
    .sps--abv .navbar-brand:active{
        color: #000;
        font-weight: bold;
    }
    .sps--abv .navbar-brand:focus{
        color: #000;
        font-weight: bold;
    }
}

/* media query for sm  */

@media only screen and (max-width: 768px) {
    .nav-link{
      text-align: left;
      font-size: 20px;
      font-family: 'Russo One', sans-serif;
      margin-top: 1%;
    }
    .sps--abv{
      background: #fff;
    }
    .navbar-nav{
      height: 100vh;
    }

    .lg-less-padding{
        padding-right: 5px;
        padding-left: 5px;
    }
}   

@media (min-width: 979px) {
    .dropdown:hover>.dropdown-menu {
     display: block;
    }
}

.dropdown-menu {
  margin: -0.125rem 0 0;
}